* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: black;
}
header {
    padding-top: 20px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    margin-right: 40px;
    color: #3cb04b;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 3px;
}
.logo span {
    vertical-align: super;
    font-size: 10px;
    color: #979797;
    letter-spacing: 1px;
}
nav {
    margin: 30px 0 36px 0;
    display: flex;
    justify-content: center;
}
nav a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    margin-left: 25px;
    background-color: #3cb04b;
    padding: 0px 20px;
    text-decoration: none;
    height: 50px;
    text-transform: uppercase;
    line-height: 50px;
}
nav a:hover {
    color: grey;
}
nav a:first-child {
    margin-left: 0;
}
h1, h2 {
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100;
}
hr {
    border: 0.5px solid #3cb04b;
}
.main-top, .main-mid, .main-bot {
    margin: 20px 0;
    justify-content: space-between;
    display: flex;
}
.main-top img {
    height: 240px;
}
.main-mid img {
    height: 175px;
}
.main-bot img{
    height: 110px;
}
.main-bot img:nth-child(3) {
    width: 290px;
}
footer {
    color: white;
    background-color: #3cb04b;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
img:hover {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}
